
  
.mySlides {
  display: none;
}
.mySlides img {
  width: 100%;
  height: 70%;
  
}
.mySlides video {
  width: 80%;
  height: 80;
}


*{
  box-sizing: border-box;
  margin: 10;
  padding: 10;
  

}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: powderblue;
}

nav {
  background-color: #0e0c0e;
  overflow: show;
}


nav ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
  overflow: hidden;
  display: inline; 
}

nav ul li {
  flex-grow: 7; 
}

nav ul li a {
  display: block;
  color: rgb(192, 191, 203);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px; 
  font-weight: bolder; 
}
a:hover{
  color: #0a75c2;
}

nav ul li a:hover {

  background-color: rgb(16, 162, 219);
  background-color:000000;
}

.logo {
  margin-left: 20px; 
}
    #menu {
      font-size: 24px;
      cursor: pointer;
      z-index: 1000001;
      display: none;
    }

    .mySlides {
      width: 100%;
      min-height: 450px;
      position: relative;
      display: flex;
      margin: auto;
      align-items: center;
    }

    .mySlides img {
      position: absolute;
      width: 100%;
      height: 550px;
      z-index: -1;
    }

    h1 {
      position: absolute;
      padding: 380px 10px;
      text-transform: uppercase;
      color: rgb(16, 18, 16);
      font-size: 24px;
      font-size: 2.5rem;
    }

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: 50px;
      height: 50px;
      margin-top: -25px;
      color: #0d0c0d;
      font-weight: bold;
      font-size: 22px;
      transition: 0.6s ease;
      border-radius: 50%;
      background-color: rgba(238, 238, 244, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .next {
      right: 10px;
    }

    .prev {
      left: 10px;
    }

    h2 {
      max-width: 968px;
      margin-left: auto;
      margin-right: auto;
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;

      margin-top: 110px;
      color: rgb(66, 40, 180);
    }
    .movies {
      max-width: 968px;
      margin-right: auto;
      margin-left: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, auto));
      gap: 3rem;
      margin-top: 2rem;
    }
    
  article {
    width: 100%;
    height: auto;
    color: rgb(20, 19, 18);
    cursor: pointer;
  }

  article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  article img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;
  }

  footer {
    background-color:hotpink;
    color: rgb(46, 52, 46);
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  footer img {
    width: 25px;
    height: auto;
    margin-right: 1rem;
  
  }
  

    footer img:hover {
      opacity: 6;
      background: rgb(12, 87, 217);
    }

    .container {
      max-width: 1000px;
      margin: 50px auto 10;
      background-color: #1273c8;
      padding: 100px;
      border-radius: 30px;
      
    }

    .container h2 {
      text-align: center;
      margin-bottom: 20px;
      color: rgb(2, 122, 196);
    }

    .form-group {
      margin-bottom: 50px;
    }

    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .form-group input[type="text"],
    .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #08d482;
      border-radius: 4px;
    }

    .form-group textarea {
      resize: vertical;
      height: 100px;
    }

    .form-group button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: #144be1;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .form-group button:hover {
      background-color: #01042e;
    }

    /* Main styles */
    main {
      max-width: 800px;
      margin: 110px auto;
      background-color: #333;
      padding: 50px;
      border-radius: 5px;
      color: white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .movie-synopsis h6 {
      font-size: 18px;
    }

    .movie-synopsis p {
      font-size: 16px;
    }

    aside {
      background-color: #333;
      color: #4c4a45;
      padding: 20px;
      border-radius: 5px;
    }

    .movie-info h5 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .movie-info p {
      font-size: 16px;
      margin-bottom: 5px;
    }
	.youtube-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #c31313;
      color: #8dd70c;
      text-decoration: none;
      font-weight: bold;
      border-radius: 4px
	}

    @media (max-width: 775px) {
      header {
        padding: 12px 7%;
      }

      #menu {
        display: initial;
        color: rgb(50, 43, 242);
      }
    }
    *img { 
      width: 300px;
      height: 200px;

    }
    footer {


      text-size-adjust: 8px;
      width:40cm;
    }